FEEDBACK_JSON_PATH=data/pose_feedback_fix.json
REFERENCE_POSES_PATH=utils/yoga_5poses_mediapipe_dataset_complete.csv
CORS_ORIGINS=http://localhost:8080,http://127.0.0.1:8080
CORS_ALLOW_CREDENTIALS=False
